<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="ipAddress_Fisheye-026" value="192.168.0.1"/>
		<add key="ipAddress_TwincatVM" value="192.168.0.2"/>
		<add key="ipAddress_TwincatVM2" value="192.168.0.3"/>
	</appSettings>
</configuration>
